
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div>
        <h2>1110731028</h2>
        <p>This is a paragraph!</p>
        <table>
            <tr>
                <td>aaa</td>
                <td>bbb</td>
                <td>ccc</td>
            </tr>
            <tr>
                <td>bbb</td>
                <td>ccc</td>
                <td>aaa</td>
            </tr>
        </table>
    </div>
</body>
</html>
