@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    蘇芊羽<br />
    資訊管理系三年A班<br />
    1311231019
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">nutc1311231019@gmail.com</a><br />
    
</address>