
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        <h2>1110731028</h2>
        <p>蘇</p>
        <table>
            <tr>
                <th>aaa</th>
                <th>bbb</th>
                <th>ccc</th>
            </tr>
    </div>
</body>
</html>
